@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title</h2>

<address>
    Seattle Central College<br />
    1701 Broadway<br />
    Seattle, WA 98122<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Ben</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Tom</a><br />
    <strong>Muscle:</strong> <a href="mailto:Marketing@example.com">Micah</a>
</address>