@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bakery Project</h1>
    <p class="lead">Welcome to the Bakery Project Home Page.</p>
    <p>From here you can navigate to any relevant part of the project.</p>
    <p>Created by:</p>
    <ul>
        <li>Ben Judas</li>
        <li>Tom Brady</li>
        <li>Micah Miller</li>
    </ul>
   
</div>

